@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-bricolage: "Bricolage Grotesque", serif;
}

/* GENERAL */
.font-secondary {
  font-family: var(--font-bricolage);
}

.shadow-nav {
  box-shadow: 0 1px 2px 0 rgba(26, 31, 44, 0.25);
}

/* SCROLL */
::-webkit-scrollbar {
  width: 0px;
}

/* SLIDER - WORKS */
.animate-vertical-slide {
  animation: verticalSlide 15s linear infinite alternate;
}

@keyframes verticalSlide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.animate-vertical-slide:hover {
  animation-play-state: paused;
}

/* TOOLTIP */
.clip-bottom {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* CHANGE THEME */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-rotate {
  animation: rotate 0.7s ease-in-out;
}

.available-btn span .icon {
  animation: live 1s ease-in-out infinite alternate;
}

@keyframes live {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
    opacity: 0.7;
  }
}

/* CARD CONTACT */
.scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.animate-scroll {
  display: inline-flex;
  width: max-content;
  animation: smoothScroll 15s linear infinite;
}

@keyframes smoothScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll > * {
  margin-right: 1rem;
  white-space: nowrap;
}