@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-nav {
  box-shadow: 0 1px 2px 0 rgba(26, 31, 44, 0.25);
}

/* SCROLL */
::-webkit-scrollbar {
  width: 0px;
}

/* SLIDER - WORKS */
.animate-vertical-slide {
  animation: verticalSlide 15s linear infinite alternate;
}

@keyframes verticalSlide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.animate-vertical-slide:hover {
  animation-play-state: paused;
}

/* TOOLTIP */
.clip-bottom {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* CHANGE THEME */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-rotate {
  animation: rotate 0.7s ease-in-out;
}
